/* Mobile - Format Style 1 */
@media only screen  and (min-width: 320px)  and (max-width: 480px) and (orientation: portrait) {
 @import url('https://fonts.googleapis.com/css?family=Kanit:900');
 
    p{
        color: white;
    }
    body{ background: #4a4d41;}
     .rando_spacer{
        height: 4px;
        width:100%;
        background: whitesmoke;
-webkit-box-shadow: -4px 11px 17px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 11px 17px 1px rgba(0,0,0,0.75);
box-shadow: -4px 11px 17px 1px rgba(0,0,0,0.75);
    } 
    #wrapper{
        width: 100%;
        height: 800px;
        border: 3px solid white;
        display: flex;
        flex-direction: column;
    }
    #header{
        width: 100%;
        height: 25%;
        display: flex; 
        margin-bottom: 0px;
    }
    #main_content{
        width: 100%;
        height: 70%;
        margin-top:5px;
        background: whitesmoke;
        -webkit-box-shadow: -4px 11px 17px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 11px 17px 1px rgba(0,0,0,0.75);
box-shadow: -4px 11px 17px 1px rgba(0,0,0,0.75);

        

     
    }
    #footer{
        z-index: -1;
        width: 98.1%;
        height: 10%;
        border: 0px white solid; 
        margin-top: -3px;
        -webkit-box-shadow: inset -4px 11px 17px 1px rgba(0,0,0,0.75);
-moz-box-shadow: inset -4px 11px 17px 1px rgba(0,0,0,0.75);
box-shadow: inset -4px 11px 17px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px px 17px 1px rgba(0,0,0,0.75);
box-shadow: 0px 11px 17px 1px rgba(0,0,0,0.75);

    }
    .project_top {
        width: 100%;
        height: 600px;
       background: orange;
        overflow: hidden;
    }
            .side_panel_l{
                width: 23%;
                height: 100%;
                background:whitesmoke;
            }
            .side_panel_m{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 54%;
                height: 100%;
                background:whitesmoke;
              
            }
           .side_panel_r{
                   width: 23%;
                height: 100%;
                background:whitesmoke;
           }

    .content_header { 
        background: black;
        height: 35%;
        width: 100%;
        display: flex;


    }

    .project_bottom {
        width:: 100%;
        height: 200px;
        background: black;
        overflow: hidden auto;
         display: flex;
         flex-direction: column;
         align-items: center;
      
    }
    
    .pj_header {
        width: 100%;
        height: 60%;
        background: ;
        border-bottom: 1px solid white;
    }
    .pj_footer{
        width: 100%;
        height: 40%;
        background:  ;
        border-bottom: 0px solid blue;
    }

    .pj_card{
        display: flex;
        flex-direction: column;
        width: 150px; 
        height: 100px;
        background: white; 
        margin-right: 10px;
        border-bottom: 1px solid blue;
    }

    .project_twofer{
        margin-left: 10px;
        width: 310px;
        display: flex;
        margin-bottom: 0px;
        margin-top: 10px;
        flex-grow: 1;
    }

    .pj_description{
        width: 150px;
        height: 30px;
        background: purple;

    }
    .pj_content{
            width: 150px;
        height: 70px;
        
    }

    img{
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: 20%;
        width: 55%;
         border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  -webkit-box-shadow: inset -4px 11px 36px -13px rgba(0,0,0,0.75);
-moz-box-shadow: inset -4px 11px 36px -13px rgba(0,0,0,0.75);
box-shadow: inset -4px 11px 36px -13px rgba(0,0,0,0.75);
  margin-bottom: 2px;
  border-radius: 50%
  -webkit-box-shadow: -4px 11px 36px -13px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 11px 36px -13px rgba(0,0,0,0.75);
box-shadow: -4px 11px 36px -13px rgba(0,0,0,0.75);
    }
}
/* Mid-Range - Format Style 2 */
@media only screen  and (min-width: 481px)  and (max-width: 600px){
    p{
        color: white;
    }
    body{ background: black;}
    #wrapper{
        width: 100%;
        height: 800px;
        border: 2px solid blue;
        flex: column;
    }
    #header{
        width: 100%;
        height: 30px;
        border-bottom: 1px solid blue; 
    }
    #main_content{
        width: 100%;
        height: 751px;
        border-bottom: 1px solid blue; 
        display: flex; 
        flex-direction: column;
    }
    #footer{
        width: 100%;
        height: 20px;
    }
    .project_top {
        width: 100%;
        height: 400px;
        border-bottom: 1px solid blue; 
        overflow: hidden;
    }

    .project_bottom {
        order: -1;
        width:: 100%;
        height: 350px;
        overflow: hidden auto;
         display: flex;
         flex-direction: column;
         align-items: center;
      
    }
    
    .pj_header {
        width: 100%;
        height: 60%;
        background: ;
        border-bottom: 1px solid blue;
    }
    .pj_footer{
        width: 100%;
        height: 40%;
        background:  ;
        border-bottom: 0px solid blue;
    }

    .pj_card{
        display: flex;
        flex-direction: column;
        width: 150px; 
        height: 100px;
        background: white; 
        margin-right: 10px;
        border-bottom: 1px solid blue;
    }

    .project_twofer{
        margin-left: 10px;
        width: 310px;
        display: flex;
        margin-bottom: 0px;
        margin-top: 10px;
        flex-grow: 1;
    }

    .pj_description{
        width: 150px;
        height: 30px;
        background: purple;

    }
    .pj_content{
            width: 150px;
        height: 70px;
        
    }

    img{
        height: 100%;
        width: 100%;
    }
}
/* Mid-Large - Format Style 3 */
@media only screen  and (min-width: 601px) and (max-width: 800px) {
    p{
        color: white;
    }
    body{ background: black;}
    #wrapper{
        width: 100%;
        height: 800px;
        border: 2px solid blue;
        flex: column;
    }
    #header{
        width: 100%;
        height: 30px;
        border-bottom: 1px solid blue; 
    }
    #main_content{
        width: 100%;
        height: 751px;
        border-bottom: 1px solid blue; 
        display: flex; 
        flex-direction: row;
    }
    #footer{
        width: 100%;
        height: 20px;
    }
    .project_top {
        display: flex; 
        flex-direction: column;
        width: 100%;
        height: 700px;
        border-bottom: 0px solid blue; 
        overflow: hidden auto;
    }

    .project_bottom {
        order: -1;
        width:: 100%;
        height: 700px;
        overflow: hidden auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
      
    }
    
    .pj_header {
        width: 100%;
        height: 60%;
        background: ;
        border-bottom: 1px solid blue;
    }
    .pj_footer{
        width: 100%;
        height: 40%;
        background:  ;
        border-bottom: 0px solid blue;
    }

    .pj_card{
        display: flex;
        flex-direction: column;
        width: 150px; 
        height: 100px;
        background: white; 
        margin-right: 10px;
        border-bottom: 1px solid blue;
        margin-bottom: 10px
    }

    .project_twofer{
        display: flex; 
        flex-direction: column;
        margin-left: 10px;
        width: 310px;
        display: flex;
        margin-bottom: 0px;
        margin-top: 10px;
        flex-grow: 1;
    }

    .pj_description{
        width: 150px;
        height: 30px;
        background: purple;

    }
    .pj_content{
            width: 150px;
        height: 70px;
        
    }

    img{
        height: 100%;
        width: 100%;
    }
   
}
/* Large - Format Style 4 */
@media only screen  and (min-width: 801px){
    p{
        color: white;
    }
    body{ background: black;}
    #wrapper{
        width: 100%;
        height: 800px;
        border: 2px solid blue;
        flex: column;
    }
    #header{
        width: 100%;
        height: 30px;
        border-bottom: 1px solid blue; 
    }
    #main_content{
        width: 100%;
        height: 751px;
        border-bottom: 1px solid blue; 
        display: flex; 
        flex-direction: column;
    }
    #footer{
        width: 100%;
        height: 20px;
    }
    .project_top {
        display: flex; 
        flex-direction: row;
        width: 100%;
        height: 700px;
        border-bottom: 0px solid blue; 
        overflow: hidden auto;
        align-content: stret
        ch;
    }

    .project_bottom {
        width:: 100%;
        height: 700px;
        overflow: hidden auto;
        display: flex;
        flex-direction: row;

        justify-content: center;
      
    }
    
    .pj_header {
        width: 100%;
        height: 60%;
        background: ;
        border-bottom: 1px solid blue;
    }
    .pj_footer{
        width: 100%;
        height: 40%;
        background:  ;
        border-bottom: 0px solid blue;
    }

    .pj_card{
        display: flex;
        flex-direction: column;
        width: 150px; 
        height: 100px;
        background: white; 
        margin-right: 10px;
        border-bottom: 1px solid blue;
        margin-bottom: 10px
    }

    .project_twofer{
        display: flex; 
        flex-direction: column;
        margin-left: 10px;
        width: 310px;
        display: flex;
        margin-bottom: 0px;
        margin-top: 10px;
        flex-grow: 1;
    }

    .pj_description{
        width: 150px;
        height: 30px;
        background: purple;

    }
    .pj_content{
            width: 150px;
        height: 70px;
        
    }

    img{
        height: 100%;
        width: 100%;
    }
     }